body{
  background-color: silver;
}

header{
  margin: 0 auto;
}

h1{
  text-align: center;
  color: white;
  padding: 10px;
}

h2{
  text-align: center;
  color: grey;
  padding: 5px;
}

nav{
  width: 482px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.4);
  padding: 10px;
  text-align: center;
  color: gold;
  font-weight: normal;
}

a{
  color: white;
  text-decoration: none;
}

.artists a{
  color: black;
}

img{
  width: 400px;
}

#main{
  width: 500px;
  height: 500px;
  background-color: white;
  margin: 0 auto;
  margin-top: 10px;
  border: 2px solid firebrick;
}

.artists{
  margin-top: 30px;
  text-align: center;
  margin-bottom: 50px;
  line-height: 10px;
}

.new_artist{
  margin: 0 auto;
  text-align: center;
  color:grey;
  background-color: gold;
  border: 1px solid grey;
  width: 100px;
  font-size: 12px;
}
