body{
  background-color: silver;
}

header{
  margin: 0 auto;
}

h1{
  text-align: center;
  color: white;
  padding: 10px;
}

h2{
  text-align: center;
  color: grey;
  padding: 5px;
}

nav{
  width: 482px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.4);
  padding: 10px;
  text-align: center;
  color: gold;
  font-weight: normal;
}

nav a{
  color: white;
}

a{
  text-decoration: none;
}

a:hover{
  color: silver;
}

.artists a{
  color: black;
}

.artists a:hover{
  color: firebrick;
}

img{
  width: 400px;
}

#main{
  width: 500px;
  height: 500px;
  background-color: white;
  margin: 0 auto;
  margin-top: 10px;
  border: 2px solid firebrick;
  text-align: center;
}

.artists{
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 10px;
  overflow:auto;
  height: 350px;
  width: 500px;
}

.new_artist{
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  color:grey;
  background-color: gold;
  border: 1px solid grey;
  width: 80px;
  font-size: 12px;
}

.edit_artist{
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  color:grey;
  background-color: gold;
  border: 1px solid grey;
  width: 80px;
  font-size: 12px;
}


.songs{
  overflow:auto;
  height: 350px;
  width: 500px;
  margin-bottom: 30px;
}

.songs a{
  color:black;
}

.songs a:hover{
  color: firebrick;
}

.new_song{
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  color:grey;
  background-color: gold;
  border: 1px solid grey;
  width: 80px;
  font-size: 12px;
}

.edit_song{
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  color:grey;
  background-color: gold;
  border: 1px solid grey;
  width: 80px;
  font-size: 12px;
}

li{
  text-align: left;
  margin-left: 30px;
  line-height: 13px;
}
