<div id = "main">
  <h2><%= @artist.name %></h2>

  <div class = "artists">
    <p><img src="<%= @artist.photo_url %>" alt="Photo of <%= @artist.name %>"></p>
    <p><strong>Nationality</strong>: <%= @artist.nationality %>
    <p><strong>Songs:</strong></p>
  </div>
</div>
