<div id = "main">

  <h2>♪ Artists ♪</h2>

  <div class = "artists" style="overflow:auto">
    <% @artists.each do |artist| %>
      <p><a href="/artists/<%= artist.id %>"><%= artist.name %></a></p>
    <% end %>
  </div>

  <a href="/artists/new"><div class = "new_artist">Add new artist
  </div></a>

</div>
