<div id = "main">

  <h2>Add a new artist</h2>

  <form method="post" action="/artists/new">

    <p><label for="name">Name: </label><input type="text" placeholder="e.g. Frank Sinatra" name="name"></p>

    <p><label for="photo_url">Photo URL: </label><input type="text" placeholder="e.g. franksinatra.jpg" name="photo_url"></p>

    <p><label for="nationality">Nationality: </label><input type="text" placeholder="e.g. American" name="nationality"></p>

    <p><input type="submit" value="Create your artist"></p>

  </form>

</div>
